*  {
    font-family: 'Roboto Slab', serif;
}

h1 {
    background-color: palegreen;
    text-align: center;
}

table {
    width: auto;
    position:absolute;
    left:50%;
    top:50%;
}
tr:nth-child(odd) {
    background-color: wheat;
    border-color: wheat;
}
tr.head {
    background-color: black;
    border-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: palegreen;
    border-color: palegreen;
}

td {
    vertical-align: top;
}
