table {
    border-collapse: collapse;
    /* width: 50%; */
    table-layout: initial;
}
tr:nth-child(odd) {
    background-color: wheat;
}
tr:nth-child(1) {
    background-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: palegreen;
}

td {
    text-align: center;
}