*  {
    font-family: 'Roboto Slab', serif;
}

h1 {
    background-color: palegreen;
    text-align: center;
}
h2,h3 {
    text-align: center;
}

table {
    width: 70%;
    position: relative;
    left:15%;
}
tr:nth-child(odd) {
    background-color: wheat;
    border-color: wheat;
}
tr.head {
    background-color: black;
    border-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: palegreen;
    border-color: palegreen;
}

td {
    vertical-align: top;
}


footer {
    text-align: center;
    position: relative;
    bottom: 0%;
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
    color: black;
    text-decoration: none;
}
a.nav-link:hover
{
    color: black;
    text-decoration: none;
}
a.nav-link:active
{
    color: black;
    text-decoration: none;
}
