table {
    border-collapse: collapse;
    /* width: 50%; */
    table-layout: fixed;
    border-spacing: 2;
}
tr:nth-child(odd) {
    background-color: wheat;
}
tr:nth-child(1) {
    background-color: black;
    color: white;
}
tr:nth-child(even) {
    background-color: palegreen;
}
.customers td {
    text-align: left;
}
td {
    text-align: center;
}
